Source: pagmo
Section: science
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Julien Schueller <schueller@phimeca.com>
Build-Depends: debhelper-compat (= 12),
               cmake,
               libeigen3-dev,
               libboost-serialization-dev,
               libtbb-dev
Standards-Version: 4.6.0
Homepage: https://github.com/esa/pagmo2
Vcs-Browser: https://salsa.debian.org/science-team/pagmo
Vcs-Git: https://salsa.debian.org/science-team/pagmo.git
Rules-Requires-Root: no

Package: libpagmo2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: dynamic libraries for Pagmo 
 Perform parallel computations of optimisation tasks.

Package: libpagmo-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libpagmo2 (= ${binary:Version}),
 liblapack-dev, libblas-dev
Description: headers and development libraries for Pagmo
 Perform parallel computations of optimisation tasks.
